:root{
  --welcome-bg-end: #8f4cd7;
  --welcome-bg-start: #5d33be;
  --numPad-bg: #f7f7f7;
  --common-block-bg: #fff;
  --amount-text-color: #53a867;
  --numPad-msgRow-bg: var(--common-block-bg);
  --app-name-color: #7878FF;
  --main-button-bg: #5c33be;
}

:root:root{
  --van-tabbar-item-font-size: 14px;
  --van-button-primary-background: var(--main-button-bg);
  --van-button-primary-border-color: var(--main-button-bg);
}